@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background: linear-gradient(180deg, #a5d1fd, #bfb0cc 120%);
  }

  a {
    @apply text-sky-500;
  }

  :root {
    --svg-drop-shadow: rgba(150, 181, 197, 0.249);
  }

  .svg-text-outline {
    /* font-family: var(--font-titillium); */
    font-size: 4.5rem;
    font-weight: 600;
    fill: rgb(255, 255, 255);
    paint-order: stroke fill;
    stroke: #4f69ab6b;
    stroke-width: 6px;
    stroke-linejoin: round;
    -webkit-filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 0px 10px var(--svg-drop-shadow));
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 5px 10px var(--svg-drop-shadow));
  }
}
